twitter.json
[{"id":"57f045.ffa80fbc","type":"debug","name":"exist with our tag","active":false,"console":"false","complete":"payload","x":501,"y":77,"z":"5e1fdaa0.a1e024","wires":[]},{"id":"d924663a.26db98","type":"twitter in","twitter":"","tags":"#apple","user":"false","name":"twitter input","topic":"tweets","x":125,"y":162,"z":"5e1fdaa0.a1e024","wires":[["dd7cabc9.228358"]]},{"id":"6fb5b9b9.904a48","type":"function","name":"add tag weloveapple","func":"msg.payload=msg.payload + \" #weloveapple \";\nreturn msg;","outputs":1,"x":516,"y":210,"z":"5e1fdaa0.a1e024","wires":[["40e83931.bf17c8"]]},{"id":"bb7099d7.448f68","type":"twitter out","twitter":"","name":"Tweet","x":1108,"y":147,"z":"5e1fdaa0.a1e024","wires":[]},{"id":"dd7cabc9.228358","type":"switch","name":"exist our tag","property":"payload","rules":[{"t":"cont","v":"#weloveapple"},{"t":"else"}],"checkall":"true","outputs":2,"x":300,"y":163,"z":"5e1fdaa0.a1e024","wires":[["57f045.ffa80fbc"],["6fb5b9b9.904a48"]]},{"id":"75c84d2d.8a37b4","type":"debug","name":"txt lenght > 140","active":true,"console":"false","complete":"payload","x":1120,"y":73,"z":"5e1fdaa0.a1e024","wires":[]},{"id":"40e83931.bf17c8","type":"function","name":"lenght not over 140","func":"if (msg.payload.length <= 140) {\n\tvar newMsg = { payload: msg.payload};\n} else {\n\tvar newMsg = { payload: false};\n}\nreturn newMsg;","outputs":1,"x":745,"y":142,"z":"5e1fdaa0.a1e024","wires":[["7f294d6d.80d6b4"]]},{"id":"7f294d6d.80d6b4","type":"switch","name":"","property":"payload","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":932,"y":141,"z":"5e1fdaa0.a1e024","wires":[["75c84d2d.8a37b4"],["d17b22f8.2e84e"]]},{"id":"d17b22f8.2e84e","type":"debug","name":"txt 2 tweet","active":true,"console":"false","complete":"payload","x":1108,"y":225,"z":"5e1fdaa0.a1e024","wires":[]}]
